.form-group {
    margin-bottom: 15px;
    .form-control {
        &:hover,&:focus {
            box-shadow: none;
            outline: none;
        }
    }
}
i {
    cursor: pointer;
}
// .example-boundary {
    // width: 100%;
    // height: 100vh;
// }