<div class="comment" *ngFor="let comment of comments; index as i;">
    <a href="javascript:void(0);" class="comment-border-link"></a>
    
    <div class="summary">
        <div class="comment-heading">
            <div class="comment-info">
                <h5 class="comment-author">{{comment.user}}</h5>
                <p class="m-0">
                    {{comment.timeago}}
                </p>
            </div>
        </div>
    </div>
    <div class="comment-body">
        <p>
            {{comment.content}}
        </p>
        <button type="button" class="btn btn-reply btn-sm" (click)="replyChild(comment.id)"><i class="fa fa-reply"></i>Reply</button>
    </div>

    <div class="replies" *ngIf="comment.replies && comment.replies.length > 0">
        <reply-comments [comments] = "comment.replies"  ></reply-comments>
    </div>

</div>
